@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.favorites-container{
  position: fixed;
  width: 7.5%; height: 100%;
  color: #fff;
  position: absolute;
  font-family: 'omyu_pretty';
  padding: 20px 10px;
  text-align: center;
  transition: .5s;
}

.favorites-container:hover{
  background-color: rgba(255, 255, 255, .5);
  overflow-y: scroll;
}

.favorites-container h2{
  white-space: nowrap;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.favorites-container h2 > button{
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  font-family: 'omyu_pretty';
  font-size: 1rem;
  vertical-align: top;
}

.favorites-list{
  height: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.favorite-item > button{
  background: none;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}